# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- R
- Python
- SQL

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

Pyhton:
1. NumPy
2. Pandas
3. scikit-learn

R
1. ggplot
2. dplyr
3. caret

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60.
minute = 200
hour = minute/60
hour

3.3333333333333335

## Author 
Yutia